html {
   font-size: 62.5%;
   -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-family: 'opensans-regular', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
