/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   09-12-2017
=====================================================================
   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer
===================================================================== */

/* a. General Styles
 /* ------------------------------------------------------------------ */

body {
   background: #0f0f0;
}

.loading {
  background: #161415 url(../assets/loader.gif) no-repeat center center;
  margin: 0 auto;
   width: 100%;
   min-height: 500px;
   height: 100%;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 300px;
   min-height: 150px;
   width: 100%;
   background: #161415 no-repeat top center;
   background-size: cover;
   text-align: center;
   overflow: hidden;
}
