/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   09-12-2017
=====================================================================
   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer
===================================================================== */

/* a. General Styles
 /* ------------------------------------------------------------------ */

body {
   background: #191919;
}

.loading {
   /* background: #191919 url(../images/loader.gif) no-repeat center center; */
   margin: 0 auto;
   width: 100%;
   min-height: 500px;
   height: 100%;
}
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   /* background: #161415 url(../images/background.jpg) no-repeat top center; */
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}
