/* Mobile Support */
/* display on mobile screen */
@media screen and (min-width: 0px)
and (max-width: 400px) {
  #navWide { display: block; }
}

/* hide it on larger screens */
@media screen and (min-width: 401px)
and (max-width: 1024px) {
  #navNarrow { display: none; }
  #nav-wrap.opaque { display: none; }
}

 /* hidden on small screens
 If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  div {
    display: none;
  }
}

/* If the screen size is 600px or less, set the
.header-col to float: none; */
@media only screen and (max-width: 600px) {
  div .columns.header-col {
    float: none;
  }
}

/* If the screen size is 600px or less, set the ul.social
to... */
@media only screen and (max-width: 600px) {
  ul.social {
    display: inline-flex;
  }
}

/* corrects header name text */
@media only screen and (max-width: 600px) {
  header .banner-text h2 {
    font-size: 3em;
  }
}

/* aligns header social links onto single line */
@media only screen and (max-width: 600px) {
  header .social li {
    letter-spacing: 1.52em;
  }
}

/* aligns footer social links onto single line */
@media only screen and (max-width: 600px) {
  footer .social li {
    font-size: 17.7px;
    padding-left: 20px;
  }
}

/* condenses proflile pic */
@media only screen and (max-width: 600px) {
  div #about .profilePic {
    width: 50px;
    height: 60px;
  }
}

/* hides header top nav-bar */
@media screen and (min-width: 0px)
and (max-width: 400px) {
  .wideDiv {
    display: none;
    min-height: 48px;
    color: #FFF;
    background-color: #7b7976;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
}
