@media only screen and (max-width: 767px)
#nav-wrap:not( :target ) > a:first-of-type, #nav-wrap:target > a:last-of-type {
    display: block;
}

@media only screen and (max-width: 767px)
#nav-wrap > a:after {
    top: 60%
}

@media only screen and (max-width: 767px)
#nav-wrap > a:before, #nav-wrap > a:after {
    after
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
}

@media only screen and (max-width: 767)
#nav-wrap > a {
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #CC5200;
    position: relative;
    border: none;
        border-top-color: initial;
        border-top-style: none;
        border-top-width: initial;
        border-right-color: initial;
        border-right-style: none;
        border-right-width: initial;
        border-bottom-color: initial;
        border-bottom-style: none;
        border-bottom-width: initial;
        border-left-color: initial;
        border-left-style: none;
        border-left-width: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
    float: right;
    font: 0/0 a;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 0px;
        line-height: 0;
        font-family: a;
}


/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #fff;
  font-family: 'opensans-regular', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;

  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

.App {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.42857143;
  color: #FFFFFF;
}

div, h2, h3, h4, p, ul, li, ol, caption, header, section, em, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

div {
  display: block;
}

/* down arrow */
i icon-down-circle:before {
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
  content: '\e809';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

/* top navigation bar */
ul#nav {
  min-height: 48px;
  color: #FFFFFF;
  background-color: #7b7976;
  width: 100%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* social links */
ul.social {
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  padding: 0 15px 0 15px;
  list-style-type: none;
  text-decoration: none;
  font-size: 2.4em;
}

ul.smoothscroll {
  color: #FFF;
  font-size: 180%;
}

a {
  color: #FFF;
  font-size: 150%
}

element.style {
  height: 709px;
}

/* name */
h2 {
  font-size: 4em;
  text-align: center;
  margin: 2em 0 1em 0;
}


/* ------------------------------------------------------------------ */
/* Header Styles-first page
/* ------------------------------------------------------------------ */

header {
  height: 770px;
  position: relative;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./assets/background.jpg) no-repeat top center;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  text-align: center;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

header:before {
  content: '';
  display: inline block;
  vertical-align: middle;
  height: 100%;
}

/* name style-banner */
header .banner-text h2 {
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 20px 0px 160px 0px;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left:50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .scrolldown a:hover { color: #faa633; }

/* header social links */
header .social {
  margin: 160px 0;
  padding: 0;
  font-size: 32px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li a { color: #fff; }
header .social li a:hover { color: #faa633; }

i {
  text-align: center;
}

li {
  font-size: 0.6em;
  padding: 1em;
  margin: 1em;
  display: inline;
  letter-spacing: 2em;
  line-height: 18px;
  margin-bottom: 12px;
}


/*
  Primary navigation-top navigation bar
---------------------------------------------------------------------
 */

#nav-wrap {
  font: 12px 'opensans bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  background: transparent !important;
  letter-spacing: 2.5px;
}

ul {
  list-style: none outside;
}

ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  color: #fff;
  text-decoration: none;
  line-height: 32px;
  text-align: left;
  transition: color .2s ease-in-out;
  font-size: 12px;
}

*, *:before, *:after {
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* down arrow */
i [className^="arrow-"]:before, [className*=" arrow-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 75%;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}

/* abreviations */
abbr:hover { cursor: help; }

/* Links - hover */
 a:visited {
   text-decoration: none;
   outline: 0;
   color: #313131;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}

a:hover, a:focus { color: #313131; }
p a, p a:visited { line-height: inherit; }


/* ------------------------------------------------------------------ */
/* About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2B2B2B;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about .profilePic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

#about .main-col {
  padding-right: 5%;
}

#about h3 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

/* row clearing */
.column, .columns {
  position: relative;
  /* padding: 0 20px; */
  min-height: 1px;
  float: left;
}

.column.centered, .columns.centered  {
  float: none;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }


#about p {
  line-height: 30px;
  color: #7A7A7A;
}

p {
  margin: 0 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* about page profilePic img */
.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.row .row {
  width: auto;
  max-width: none;
  margin: 0 -20px;
}

/* column widths */
.row .two {
  width: 16.66667%;
}

.row .ten {
  width: 83.33333%;
}


/* ------------------------------------------------------------------ */
/*  Work Section
/* ------------------------------------------------------------------ */

#work {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 0px;
  overflow: hidden;
}

#work h4 {
  font: 25px/30px 'opensans-bold', sans-serif;
}

#work h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#work h1 span {
  border-bottom: 3px solid #faa633;
  padding-bottom: 6px;
}

#work p {
  padding-bottom: 6px;
}

#work a, #work a:visited {
  color: #313131;
}

#work .header-col {
  padding-top: 9px;
}


/* ------------------------------------------------------------------ */
/*  Interests Section
/* ------------------------------------------------------------------ */

#interests {
   background: #fff;
   padding-top: 72px;
   padding-bottom: 20px;
   overflow: hidden;
}

#interest a, #interest a:visited  { color: #faa633; }
#interest a:hover, #interest a:focus { color: #313131; }

#interests h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#interests h1 span {
   border-bottom: 3px solid #faa633;
   padding-bottom: 6px;
}

#interests h4 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#interests .header-col { padding-top: 9px; }
#interests .main-col { padding-right: 10%; }

#interests.info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}

#interests .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#interests .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}
#interest .point {
   margin: 0 0 10px 0;
}
#interest .inside {
   padding: 0 20px;
}

#interests .interest-summary {
  margin: 0 0 10px 0;
}

/* ------------------------------------------------------------------ */
/*  Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: #ebeeee;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

#portfolio h1 {
  font: 18px/24px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 48px;
  color: #95A3A3;
}


/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  padding-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size:21px;
  line-height: 60px;
  border-radius: 100%;
}

#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}

