.App {
    width: 100%;
    height: 20%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 1.42857143;
    color: #FFFFFF;
}

ul.nav {
    min-height: 48px;
    color: #FFFFFF;
    background-color: #7b7976;
    width: 100%;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul.social {
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    padding: 0 15px 0 15px;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}

a {
    font-size: 1.8em;
    text-decoration: none;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 4em;
    text-align: center;
    margin: 2em 0 1em 0;
}

header {
    height: 753px;
    position: relative;
    min-height: 500px;
    width: 100%;
    background: #161415 url(./assets/background.jpg) no-repeat top center;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

header .banner-text h2 {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
i {
    text-align: center;
}

li {
    font-size: 0.6em;
    padding: 1em;
    margin: 1em;
    display: inline;
    letter-spacing: 2em;
}

#nav-wrap {
    font: 12px 'opensans bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    background: transparent !important;
    letter-spacing: 2.5px;
}

ul {
    list-style: none outside;
}
ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    color: #fff;
}
